@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Source Sans Pro, sans-serif; /* Set font */
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Make sure the border does not increase to the width and height of the element */
    border: 20px solid #F0F4F4; /* Set border color and width */
}
@media (min-width: 667px) {
    body {
        border: 35px solid #F0F4F4; 
    }
}

@media (min-width: 1024px) {
    body {
        border: 50px solid #F0F4F4; 
    }
}
/* Header and Navigation */

header{
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Make sure content starts from the left */   
    margin-bottom: 20px;
}
#menu-button{
    font-size: 40px;
}
#current-page-name {
    margin-left: auto;
    margin-right: auto;
    color: #445347;
    font-size: 20px;
}
#logo {
    width: auto;
    height: auto;
    max-width: 80vw;
    min-height: 15vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#menu-button {
    color: #3c4d3e;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease; /* smooth transition effect */
}
#menu-button:hover {
    color: #445347; /* The background color of the button on hover */
    transform: scale(1.1); /* Zoom in on mouseover */
}
.main-nav{
    display: none;
}
.fold-nav {
    display: none; /* Hide navigation bar by default */
    position: fixed; /* Fixed positioning so the navigation bar floats on the page */
    top: 100px;
    left: 40px;
    width: 30%; 
    background-color: rgba(225, 237, 225, 0.9); /* Transparent Background */
    z-index: 1000; /* Make sure the navigation bar is above other content */
}

.fold-nav.active {
    display: block; /* Shown when menu button is clicked */
}

.fold-nav .fold-list {
    list-style: none; /* Remove the default tag before list items */
    padding: 0; /* Remove default padding*/
    margin: 0; /* Remove default margins */
}

.fold-nav .fold-list li {
    text-align: left; /* Make sure the list text is left aligned*/
}

.fold-nav .fold-list li a {
    display: block; /* Make the link fill the entire list item and increase the clickable area */
    padding: 10px; 
    color: black; 
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.fold-nav .fold-list li a:hover {
    background-color: #c3dac1;
    color: #000;
    border-radius: 0.5rem;
    transform: scale(1.1); 
}
#current-page {
    background-color: #bfecb8;
    color: black;
    border-radius: 0.5rem;
}

/* Responsive style */
@media (min-width: 667px) {
    #menu-button {
        font-size: 50px;
    }
    .fold-nav {
        top: 150px;
        left: 60px;
    }
    #current-page-name {
        font-size: 25px;
    }

}
@media (min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }
    .main-nav{
        display: block;/* Show navigation bar on big screen */
    }
    .main-nav .nav-list {
        display: block; /* Only show navigation on the big screen */
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        justify-content: center; /* Make sure the navigation items are centered in the container */
        gap: 50px;
        /* Default is vertical layout */
    }
    
    .main-nav .nav-list li {
        display: inline-block; /* Display horizontally on a large screen */
        margin: 0;
    }
    
    .main-nav .nav-list li a {
        text-decoration: none;
        color: #000;
        padding: 0.5rem 1rem;
        display: block; 
    }
    .main-nav .nav-list li a:hover {
        background-color: #b5e7ad; 
        color: #000;
        border-radius: 0.5rem;
        transform: scale(1.1); 
    }
    
    #current {
        display: block; 
        background-color: #E5F2E3;
        color: black;
        border-radius: 0.5rem;
        padding: 10px 20px; /* Add padding to expand the click area */
        
    }
    
}

/* Main Content */
main {
    padding: 20px;
}

#location {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
}
#image {
    display: flex;
    flex-direction: column; /* Stack layout on small screens */
    align-items: center; 
}
#board {
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}
#google-map {
    width: 70%; 
    height: 40vh; 
    padding-bottom: 30px;
}

#time{
    display: flex;
    flex-direction: column; /* Stack layout on small screens */
    align-items: center; 
}
@media (min-width: 1024px) {
    #image {
        flex-direction: row; 
        justify-content: space-around; 
    }

    #board {
        width: 20%;
        height: 100%;
    }
    #google-map {
        width: 50%; 
        height: 100%; 
    }

}

 #text{
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
 }
 #text h2{
    color: gray;
 }
 #description{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
 }
 #address, #weekdays-time, #weekends-time{
    font-weight: bold;
 }

 @media (min-width: 667px) {
    #text{
        font-size: 15px;
     }
}
 
 @media (min-width: 1024px) {
    #time{
        flex-direction: row; 
        justify-content: space-around; 
    }
    #text{
        font-size: 20px;
 }
}
#contact{
    
    text-align: center;
    align-items: center;
}
#contact-button {
    margin: 10px;
    background-color: #B0D7AC;
    color: #000000;
    border-radius: 20px;
    border: none;
    width: 80px;
    height: 30px;
    font-size: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: background-color 0.3s ease; 
}
@media (min-width: 667px) {
    #contact-button {
        width: 100px; 
        height: 40px;
        font-size: 15px;
        margin: 20px;
   }
}

@media (min-width: 1024px) {
    #contact-button {
        width: 150px; 
        height: 50px;
        font-size: 20px;
        margin: 30px;
   }
}

#contact-button:hover {
    background-color: #9ac9a4; 
    transform: scale(1.1); 
}
/* Modal style */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed positioning */
    z-index: 1; /* Bring to top */
    left: 0;
    top: 0;
    width: 100%; /* full screen width */
    height: 100%; /* full screen height */
    overflow: auto; /* enable scrolling */
    background-color: rgba(0,0,0,0.4); /* translucent background */
}

/* modal content box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 10px solid #F0F4F4;
    border-radius: 5px;
    width: 50%; 
}

/* close button */
.close-button {
    color: #B0D7AC;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.close-button:hover,
.close-button:focus {
    color: #9ac9a4;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1); 
}
#contact-form {
    font-size: 12px;
}
/* Set block-level display and centering for all form controls */
#contact-form label,
#contact-form input,
#contact-form textarea{
    display: block; 
    margin: 10px auto;
    width: 50%; 
    box-sizing: border-box; /
}

/* Adjust the style of input boxes and text areas*/
#contact-form input {
    padding: 8px; /* Add some padding to make the text box easier to type in */
}

#contact-form textarea {
    padding: 8px; /* Add some padding to make the text box easier to type in */
}

/* Adjust button style */
#submit-button {
    cursor: pointer; /* Change the shape of the mouse pointer to a click tip */
    padding: 8px 16px;
    background-color: #B0D7AC;
    color: #000;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    width: auto; 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.3s ease; /
}

#submit-button:hover {
    background-color: #9ac9a4;
    transform: scale(1.1); 
}
@media (min-width: 667px) {
    #contact-form {
        font-size: 15px;
    }
    #submit-button {
        width: 100px; 
        height: 40px;
        font-size: 15px;
        margin: 20px;
   }
}

@media (min-width: 1024px) {
    #contact-form {
        font-size: 20px;
    }
    #submit-button {
        width: 150px; 
        height: 50px;
        font-size: 20px;
        margin: 30px;
   }
}

/* Footer */
footer {
    display: flex; /* Using Flexbox layout */
    flex-direction: column; /* By default, vertical*/
    align-items: center; /* Center vertically */
    padding: 30px 50px; 
}
footer p {
    font-size: 12px;
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: center; 
}

#social-links {
    padding-top: 15px;
    display: flex; /* Also apply Flexbox layout */
    justify-content: center; 
    gap: 10px; /* spacing between buttons */
}
.social-button {
    display: inline-block; /* Makes the <a> tag behave like a block-level element while allowing the width and height to be set */
    border: none;
    background-color: transparent; 
    cursor: pointer; 
    border-radius: 50%; 
    text-decoration: none; 
    width: 20px; 
    height: 20px; 
}
.social-button:hover {
    transform: scale(1.1); 
}

.social-button img {
    width: 100%; 
    height: auto; 
    transition: opacity 0.3s ease; 
}
.social-button:hover img {
    opacity: 0.7; 
}
/* Style when the screen width is greater than 667px */
@media (min-width: 667px) {
    footer p {
        font-size: 15px;
    }
    .social-button {
        width: 25px; 
        height: 25px;
    }
}

/* Style when the screen width is greater than 1024px */
@media (min-width: 1024px) {
    footer {
        flex-direction: row; /* Horizontal arrangement */
        justify-content: space-between; 
    }
    footer p {
        font-size: 20px;
    }
    #social-links {
        justify-content: flex-end; /* Button aligned to right */
        margin-top: 0; 
    }
    .social-button {
        width: 30px; 
        height: 30px; 
    }
    
}

